.scroll{
    height: 100%;
}
.centerSpan{
    position: relative;
    display: block;
    width: 60%;
    margin: 0 auto;
    bottom: 330px;
    color: white;
    font-size: 60px;
    text-align: center;
    font-weight: 600;
    text-shadow: 4px 4px 1px rgba(80, 80, 80, 1);
}
.appDescription{
    margin: 40px 15px;
    font-size: 16px;
    line-height: 27px;
}
.wallpaper{
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-color: #0c0c0c;
    background-size: cover;
}
div.chat_room_head a{
    border: none;
}

ul.messages{
    padding: 25px 10px;
    width:100%;
    height:520px;
    margin-top:20px;
}
ul::-webkit-scrollbar {
    width: 2px;
}

ul::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

ul::-webkit-scrollbar-thumb {
    background-color: darkgrey;
}
ul.messages li{
    display:block;
}
ul.messages li p{
    margin: 0 10px 6px;
}
ul.messages li.other_user_message{
    text-align: right;
}
ul.messages li span.message_user{
    color: rgb(150, 150, 150);
}

ul.messages li span.message_date{
    color: rgb(150, 150, 150);
    font-size: 8px;
}