<ion-view view-title="Models">
    <ion-content>
        <ion-list>
            <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="model in models"
                      type="item-text-wrap" href="#/menu/chats/{{chatName}}/models/{{model.name}}/marvin-editor">

                <h2>{{model.name}}</h2>

                <p>{{model.description}}</p>
                <i class="icon ion-chevron-right icon-accessory"></i>

                <ion-option-button class="button-assertive">
                    Delete
                </ion-option-button>
            </ion-item>

            <ion-item class="item-remove-animate item-avatar item-icon-right">
                <i class="icon ion-plus-round icon-accessory" ng-click="createModel()"></i>

                <h2><input ng-model="newModel.name" type="text" placeholder="Name" style="  height: 18px;"></h2>

                <p><input ng-model="newModel.description" type="text" placeholder="Descricao"
                          style="  height: 18px; color: #666;"></p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
