<ion-view view-title="{{chat.chatName}}">
    <ion-content style="/*width: 100%;  position: initial;*/">
        <div class="row" style="margin-top:45px">
            <div class="col col-67">
                <div class="row chat_room_head">
                    <a class="item item-thumbnail-left" href="#">
                        <img ng-src="../img/{{chat.avatar}}.jpg" style="width: 64px; height: 64px">
                        <h2>{{chat.chatName}}</h2>
                        <p>{{chat.description}}</p>
                    </a>
                    <a class="button button-clear button-positive" href="#/menu/chats/{{chat.chatName}}/models">Editar Modelo</a>
                </div>
                <div class="row bar bar-header item-input-inset">
                    <label class="item-input-wrapper">
                        <i class="icon ion-navigate placeholder-icon"></i>
                        <input id="message" type="search" placeholder="Message">
                    </label>
                    <button class="button button-clear" ng-click="sendMessage()">Send</button>
                </div>
                <div class="row">
                        <ul class="messages">
                        </ul>
                </div>
            </div>
            <div class="col">
                <div class="bar bar-header item-input-inset">
                    <label class="item-input-wrapper">
                        <i class="icon ion-ios-search placeholder-icon"></i>
                        <input id="addContributor" type="search" placeholder="Add contributor">
                    </label>
                    <button class="button button-clear" ng-click="addUser()">Add</button>
                </div>
                <div class="list">
                    <a class="item item-avatar" href="#" ng-repeat="user in chat.users">
                        <img src="{{user.avatar}}">

                        <h2 ng-if="userConnected(user)">{{user.nickname}} <i class="icon ion-record" style="color:rgba(115, 201, 12, 1)"></i></h2>
                        <h2 ng-if="!userConnected(user)">{{user.nickname}} <i class="icon ion-record" style="  color: rgba(255,255, 255, 1);text-shadow: 0px 0px 1px black;"></i></h2>
                    </a>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
