
<ion-view view-title="Login">
    <ion-content class="padding wallpaper">
        <form novalidate ng-submit="login()">
            <div class="row">
                <div class="list list-inset col col-33" style=" background-color: transparent;position: fixed;top:45%;left:34%;">
                    <label class="item item-input">
                        <input ng-model="user.username" type="text" placeholder="Username">
                    </label>
                    <label class="item item-input">
                        <input ng-model="user.password" type="password" placeholder="Password">
                    </label>
                    <input type="submit" value="Submit" class="button button-block button-positive" id="signIn">
                    <a ui-sref="signup">Signup</a>
                    <strong ng-show="authError">{{authError}}</strong>

                </div>
            </div>
        </form>
    </ion-content>
</ion-view>