<ion-view view-title="Marvin Editor - {{chat.chatName}}">
    <ion-content>
        <iframe id="sketch" src="../marvinjs/editor.html"
                style="overflow: hidden; min-width: 500px; min-height: 450px; border: 1px solid darkgray;"></iframe>
    </ion-content>
</ion-view>