<ion-side-menus enable-menu-with-back-views="true" ng-controller="MenuCtrl">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-dark">
            <ion-nav-back-button>
            </ion-nav-back-button>

            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left">
        <ion-header-bar class="bar-dark">
            <h1 class="title">Molecular</h1>
        </ion-header-bar>
        <ion-content>
            <ion-list>
                <ion-item class="item item-icon-left" menu-close href="#/menu/dash">
                    <i class="icon ion-home"></i> Home
                </ion-item>
                <ion-item class="item item-icon-left" menu-close href="#/menu/chats">
                    <i class="icon ion-android-chat"></i> Chat Rooms
                </ion-item>
                <ion-item class="item item-icon-left" menu-close href="#/menu/account">
                    <i class="icon ion-android-contacts"></i> Friends
                </ion-item>
                <ion-item class="item item-icon-left" menu-close href="#" ng-click="logout()">
                    <i class="icon ion-power"></i> Logout
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>