<ion-view view-title="Signup">
    <ion-content class="padding">
        <form novalidate ng-submit="register()">
            <div class="row">
                <div class="list list-inset col col-33" style="  margin: 130px auto;">
                    <label class="item item-input">
                        <input ng-model="user.username" type="text" placeholder="Username">
                    </label>
                    <label class="item item-input">
                        <input ng-model="user.nickname" type="text" placeholder="Nickname">
                    </label>
                    <label class="item item-input">
                        <input ng-model="user.password" type="password" placeholder="Password">
                    </label>
                    <input type="submit" value="Submit" class="button button-block button-positive" id="signIn">

                    <strong ng-show="authError">{{authError}}</strong>

                </div>
            </div>
        </form>
    </ion-content>
</ion-view>