<ion-view view-title="Home">
    <ion-content class="padding" style="padding: 0">
        <div>
            <img src="../img/homepage.jpg" style="width:100%">
            <span class="centerSpan">Molecular</span>
        </div>
        <div class="appDescription">
        <p>      Marvin JS is ChemAxon novel chemical editor designed for the wider community. Marvin JS provides a clean,
            smart user-oriented tool for quick and convenient drawing of chemical structures and reactions/reaction
            mechanisms in web pages. We brought over the most-asked-for features from MarvinSketch, our high performance
            desktop chemistry editor, and re-imagined the editing workflow to make the experience faster and much more
            intuitive.</p>
        </div>
    </ion-content>
</ion-view>
