<ion-view view-title="Account">
    <ion-content>

        <ul class="list">
            <li class="item item-toggle" ng-repeat="friend in friendsList | orderBy:'+nickname'">
                {{friend.nickname}}
                <label class="toggle toggle-assertive">
                    <input type="checkbox" ng-click="removeFriend(friend.nickname)">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </li>
        </ul>
        <div class="list list-inset">
            <label class="item item-input">
                <i class="icon placeholder-icon"></i>
                <input type="text" placeholder="Friend Nickname" id="nickname">
            </label>
        </div>
    </ion-content>
</ion-view>

