<ion-view view-title="Chats">
    <ion-content>
        <ion-list>
            <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="chat in chatRoomsAvaliable"
                      type="item-text-wrap" href="#/menu/chats/{{chat.chatName}}">
                <img src="../img/{{chat.avatar}}.jpg">

                <h2>{{chat.chatName}}</h2>

                <p>{{chat.description}}</p>
                <i class="icon ion-chevron-right icon-accessory"></i>

                <ion-option-button class="button-assertive" ng-click="remove(chat)">
                    Delete
                </ion-option-button>
            </ion-item>

            <ion-item class="item-remove-animate item-avatar item-icon-right">
                <img src="../img/{{newChat.avatar}}.jpg">
                <i class="icon ion-plus-round icon-accessory" ng-click="createChatRoom()"></i>

                <h2><input ng-model="newChat.chatName" type="text" placeholder="Chat Name" style="  height: 18px;"></h2>

                <p><input ng-model="newChat.desc" type="text" placeholder="Descricao"
                          style="  height: 18px; color: #666;"></p>
                <label class="item item-input item-select" style="  width: 50px;  border: none;  right: 45px;  top: 2px;">
                    <select ng-model="newChat.avatar" convert-to-number>
                        <option value="chatavatar1">Purple</option>
                        <option value="chatavatar2">Light Blue</option>
                        <option value="chatavatar3">Red & White</option>
                        <option value="chatavatar4">Rainbow</option>
                    </select>
                </label>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
